<%= simple_form_for @recipe do |form| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <% if @recipe.image? %>
        <div class="show-image">
          <%= image_tag @recipe.image.url, class: "recipe-show" %>
          <div class="row">
            <div class="col-xs-6">
              <p style="font-size: 15px">
                <strong>Use different image</strong>
              </p>
              <div style="text-align: center">
                <%= form.file_field :image %>
              </div>
            </div>
            <div class="col-xs-6">
              <div style="float: right">
                <p style="font-size: 15px">
                  <strong>Delete image</strong>
                </p>
                <%= form.check_box :remove_image %>
                Remove Image
              </div>
            </div>
          </div>
        </div>
        <% else %>
          <div>
            <h1>No Image</h1>
            <p>Choose image below</p>
            <%= form.file_field :image, class: "upload-button"%>
          </div>
        <% end %>
    </div>
  </div>


  <br>
  <div class="form-group"> <!--title input-->
    <%= form.label :Title %>
    <%= form.text_field :Title, id: :recipe_title,
                        class: "form-control", placeholder: "Title" %>
  </div>

  <div class="form-group"> <!--description input-->
    <%= form.label :description %>
    <%= form.text_area :description, id: :recipe_description,
                       class: "form-control", placeholder: "Description" %>
  </div>

  <!-- THIS IS THE FORM PAGE -->
  <div class="row">

    <div class="form-group col-xs-6" style="text-align: center"> <!--ingredients-->
      <%= link_to_add_association 'Add Ingredient', form, :ingredients,
                                  data: { association_insertion_node: '.ingredients', association_insertion_method: :append }%>
    </div>

    <div class="form-group col-xs-6" style="text-align: center"> <!--steps-->
      <%= link_to_add_association 'Add Step', form, :steps,
          data: { association_insertion_node: '.steps', association_insertion_method: :append }%>
    </div>

    <div class="col-xs-6 ingredients" style="text-align: center">
      <%= form.simple_fields_for :ingredients do |ingredient| %><br>
        <%= render 'ingredient_fields', f: ingredient %>
        <%#= ingredient.text_field :content %>
        <%#= ingredient.remove_nested_fields_link %>
        <%#= link_to_remove_association('X', form) %>

      <% end %>
    </div>

    <div class="col-xs-6 steps" style="text-align: center">
      <%= form.simple_fields_for :steps do |step| %><br>
        <%= render 'step_fields', f: step %>
      <% end %>
      <%#= form.add_nested_fields_link :steps %>
    </div>
  </div> <!--row-->

  <div style="text-align: center">
    <%= form.submit "Finish", class: "btn btn-success btn-responsive-form"%>
  </div>
<% end %>
