<div class="container">
  <p id="notice"><%= notice %></p>

  <div style="margin-top: 10px">
    <p style="font-size: 30px; letter-spacing: 1px; text-align: center; margin: 0">
      <strong><%= @recipe.Title %></strong>
    </p>

    <p style="font-size: 15px; text-align: center; margin: 0 0 15px 0">
      <%= @recipe.description %>
    </p>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="show-image">
        <% if @recipe.image? %>
          <%= image_tag @recipe.image.url, class: "recipe-show" %>
        <% else %>
          <%= link_to (image_tag "cooking.jpg", class: "default-recipe-show"), @recipe %>
          <div class="show-overlay">
            <h1>Edit to choose a new image</h1>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <h3>Ingredients</h3>
    </div>
    <div class="col-xs-3" style="margin-top: 20px">
      <ul>
        <% for @ingredient in @recipe.ingredients %>

          <li><%= @ingredient.content %></li>

        <% end %>
      </ul>
    </div>
    <div class="col-xs-3">
      <h3>Steps</h3>
    </div>
    <div class="col-xs-3" style="margin-top: 20px">
      <ol>
        <% for @step in @recipe.steps %>

          <li><%= @step.direction %></li>

        <% end %>
      </ol>
    </div>
  </div> <!--row-->

  <div style="text-align: center; margin-bottom: 30px">
    <%= link_to 'Back', recipes_path, class: "btn btn-success btn-responsive-show"%> ||
    <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-info btn-responsive-show" %> ||
    <%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-responsive-show" %>
  </div>
</div>
